* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mainHead {
  font-size: large;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 10px;
}

.info {
  margin: 2rem 0px;
}

#btnContainer {
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  background-color: #ff4e2e;
  color: white;
}

button:hover {
  box-shadow: 1px 1px 1px 1px rgba(131, 131, 131, 0.616);
}

#outputContainer {
  margin: 20px 0px;
}

.foodItem {
  font-size: medium;
  font-weight: bold;
  margin: 10px 0px;
}

footer {
  margin-top: auto;
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heartIcon {
  width: 20px;
  height: 20px;
}

#iconAttribution {
  color: rgb(162, 0, 255);
  margin: 5px 0px;
}

#socialFooter {
  display: flex;
  justify-content: center;
}

.icons {
  width: 30px;
  height: 30px;
  margin: 0px 1px;
  border-radius: 5px;
}

.icons:hover {
  box-shadow: 1px 1px 1px 1px rgb(104, 104, 104);
}

@media (min-width: 400px) {
  .foodItem,
  .info {
    font-size: large;
  }
  button {
    padding: 5px;
    margin: 5px;
  }
  .icons {
    margin: 0px 5px;
  }
}

@media (min-width: 600px) {
  button {
    margin: 10px;
    font-size: medium;
  }
}
